.layout {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  align-content: center;
  position: fixed;
  width: 100%;
  top: 1;
  height: 10vh;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  align-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 10vh;
}

.cell {
  margin-top: 15%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25vh;
}
